.background-image {
    background-image: url("../homeBG.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    gap: 20px;
    padding: 20px;
}

.grid-header {
    grid-row: 1;
    grid-column: 1 / 3;

    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    z-index: 100;
    background: inherit;
    top: 0;
    padding: 5px;
}

a {
    color: white;
    position: relative;
    margin: auto;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    opacity: 70%;
    letter-spacing: 0.5px;
    padding: 0 10px;
}

a::after {
    content: "";
    position: absolute;
    background-color: #af0f1c;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
    border-radius: 2px;
}

a:hover {
    color: white;
    opacity: 100%;
}

a:hover:after {
    width: 100%;
}

.grid-title {
    grid-row: 2;
    grid-column: 1 / 3;
    height: 200px;
    position: relative;
}

h1 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 80px;
    font-size: 4vw;

    opacity: 1; 
    animation: 
        shrink 5s ease-in-out forwards;
}

@keyframes shrink {
    0% {
        font-size: 200px;
    }
    25% {
        font-size: 200px;
    }
    75% {
        font-size: 80px;
    }
    100% {
        font-size: 80px;
    }
}

.grid-text-one {
    grid-row: 3;
    grid-column: 1 / 2;

    position: relative;
    opacity: 0;
    animation: reveal 2s ease-in-out 2s forwards;
}

.text-one {
    grid-column: 2 / 3;

    color: white;
    font-size: 3vw;
    position: absolute;
    margin: 0;
    left: 300px;
    top: 140px;
}


.grid-text-two {
    grid-row: 4;
    grid-column: 1 / 2;

    position: relative;
    opacity: 0;
    animation: reveal 2s ease-in-out 2s forwards;
}

.text-two {
    grid-column: 2 / 3;

    color: white;
    font-size: 3vw;
    position: absolute;
    margin: 0;
    left: 300px;
    top: 120px;
}

.grid-text-three {
    grid-row: 5;
    grid-column: 1 / 2;

    position: relative;
    opacity: 0;
    animation: reveal 2s ease-in-out 2s forwards;
}

.text-three {
    grid-column: 2 / 3;

    color: white;
    font-size: 3vw;
    position: absolute;
    margin: 0;
    left: 265px;
    top: 80px;
}

strong {
    color: #830928;
    text-shadow: 2px 2px 5px black;
}

.grid-video {
    grid-row: 3 / 6;

    text-align: center;
    opacity: 0;
    animation: reveal 2s ease-in-out 2s forwards;
}

video {
    max-width: 100%;
    height: auto;
    margin: 0;
    box-shadow: 10px 10px 5px #32181b;
}

.grid-signature {
    grid-row: 6;
    grid-column: 1 / 3;

    color: white;
    opacity: 0;
    animation: reveal 2s ease-in-out 2s forwards;
}

.bottom-line {
    position: relative;
    margin-top: 30px;
}

@keyframes reveal {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 600px) {
    body {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
    }
    
    .grid-header {
        grid-column: 1;
    }
    
    .grid-title {
        grid-column: 1;
        grid-row: 2;
    }

    .grid-text-one {
        grid-column: 1;
        grid-row: 3;
    }

    .grid-text-two {
        grid-column: 1;
        grid-row: 4;
    }

    .grid-text-three {
        grid-column: 1;
        grid-row: 5;
    }

    .grid-video {
        grid-column: 1;
        grid-row: 6;
    }

    .grid-signature {
        grid-column: 1;
        grid-row: 7;
    }
}