.background-image {
    background-image: url("../homeBG.jpg");
    background-attachment: fixed;
    background-size: 100%;
}

body {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-auto-rows: minmax(2fr, auto);
    gap: 20px;
}

.grid-header {
    grid-row: 1;
    grid-column: 1 / 4;

    display: flex;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    z-index: 100;
    background: inherit;
    top: 0;
}

a {
    color: white;
    position: relative;
    margin: auto;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    opacity: 70%;
    letter-spacing: 0.5px;
    padding: 0 10px;
}

a:after {
    content: "";
    position: absolute;
    background-color: #af0f1c;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

a:hover {
    color: white;
    opacity: 100%;
}

a:hover:after {
    width: 100%;
}

p {
    grid-row: 2;
    grid-column: 2 / 3;

    text-align: center;
    font-size: 30px;
    margin: 0;
}

img {
    width: 250px;
    height: auto;
 }

 button {
    border: none;
    padding: 0px;
    background: none;
 }

.grid-instagram {
    grid-row: 3;
    grid-column: 1 / 2;

    text-align: right;
}
 
.grid-instagram:hover button {
    background-color: #f5c5a6;
}

.grid-link {
    grid-row: 4;
    grid-column: 3 / 4;

    text-align: left;
}

.grid-git {
    grid-row: 5;
    grid-column: 1 / 2;

    text-align: right;
}

.grid-contact {
    grid-row: 6;
    grid-column: 2 / 3;

    text-align: center;
}

.grid-footer {
    grid-row: 7;
    grid-column: 1 / 4;

    margin: 0;
}